
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
}

/* Banner */
.order-banner {
  text-align: center;
  padding: 100px 20px;
  background: url("../images/backgroundimg.png") center/cover no-repeat;
  background-blend-mode: multiply;
  background-color: rgba(0,0,0,0.5);
}
.order-banner h1 {
  color: #ffd700;
  font-size: 50px;
}
.order-banner p {
  color: white;
  font-size: 30px;
}

/* Quantity buttons */
.order-form button {
  width: 35px;
  height: 35px;
  background:#d4af37;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 20px;
}


.order-form input {
  width: 60px;
  height: 35px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin: 0 8px;
  font-size: 16px;
}


/* Layout container */
.order-page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  padding: 60px 40px;
  flex-wrap: wrap;
  flex: 1;
}

/* Order Section (left) */
.order-section {

  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 20px;
}
.order-card {
  background: #ffffff;
  border-radius: 16px;
  width: 350px;
  height: 500px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0,0,0,0.4);
  padding: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}
.order-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}
.order-card h3 {
  color: #1f4d1f;
  margin-top: 18px;
}
.order-card p {
  color: #0e0b0b;
  font-size: 16px;
  margin-top: 5px;
}
.price {
  display: block;
  margin: 10px 0;
  color: #ffd700;
  font-weight: bold;
}
.order-form input {
  width: 70px;
  text-align: center;
  padding: 6px;
  border-radius: 6px;
  margin-top: 8px;
}

/* Checkout Section (right) */
.checkout-section {
  margin-top: 20px;
  width: 700px; 
  border-radius: 12px;
  backdrop-filter: blur(12px);
  box-shadow: 0 6px 15px rgba(0,0,0,0.3);
  padding: 30px;
}
.checkout-section h2 {
  text-align: center;
  color: #ffd700;
  margin-bottom: 30px;
}
.checkout-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.checkout-form label {
  font-weight: bold;
  color: #d4af37;
}

.checkout-form input,
.checkout-form textarea {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #2f5236;
  color: #000000;
  font-size: 15px;
}
.checkout-form textarea {
  resize: none;
  height: 90px;
}
.checkout-section h3 {
  color: #d4af37;
  margin-top: 20px;
}


/* Payment options */
.payment-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #ffffff;
  padding: 15px;
  border-radius: 8px;
  margin-top: 10px;
}
.payment-options label {
  font-size: 16px;
  color: #000000;
}

.card-details {
  margin-top: 15px;
  background: #ffffff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.card-details label {
  color: #1f4d1f;
  font-weight: bold;
}
.card-details input {
  display: block;
  width: 100%;
  margin: 8px 0 12px;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 15px;
}


/* Buttons */
.checkout-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}
.btn.confirm {
  background: #b2b435;
  color: white;
}
.btn.confirm:hover {
  background: #d4af37;
}
.btn.cancel {
  background: #6b1a1a;
  color: white;
}
.btn.cancel:hover {
  background: #a52a2a;
}


/* rating */
.rating {
  direction: rtl; 
  display: inline-flex;
  gap: 5px;
  justify-content: center;
}

.rating input {
  display: none; /* hide the radio buttons */
}

/* Default gray stars */
.rating label {
  font-size: 30px;
  color: #ccc;
  cursor: pointer;
  transition: color 0.2s ease;
}


.rating label:hover,
.rating label:hover ~ label {
  color: gold;
}


.rating input:checked ~ label {
  color: gold;
}


/* Footer */
footer {
  margin-top: auto;
  text-align: center;
  padding: 25px;
  background: #14532d;
  color: #fff;
  font-size: 14px;
}

/* Responsive */
@media (max-width: 900px) {
  .order-page {
    flex-direction: column;
    align-items: center;
  }
  .checkout-section {
    width: 90%;
    max-width: 600px;
  }
}